*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: var(--gradient-red);
	color: var(--color-grey-dark-1);
}
