:root {
	--color-red-light: #fe8d85;
	--color-red: #fd5e53;
	--color-red-dark: #fc1f10;
	--gradient-red: linear-gradient(to bottom right, #fe8d85, #fc1f10);

	--color-grey-light-1: #f9fcfb;
	--color-grey-light-2: #eef6f3;

	--color-grey-dark-1: #303030;

	--color-green-light: #b0eacd;
	--color-green-dark: #21bf73;
}
