.data {
	background: rgba(#b0eacd, 0.2);
	padding: 1rem;
	border-left: 0.5rem solid var(--color-green-dark);
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

	&__list {
		list-style: none;
	}

	&__item {
		display: flex;
		align-items: center;

		padding: 0.5rem 0;
	}

	&__item-title {
		color: var(--color-green-dark);
		font-size: 1.4rem;
		font-weight: 700;
		margin-right: 0.5rem;
	}

	&__item-value {
		font-size: 1.4rem;
	}

	&__item-increment {
		color: var(--color-red);
		font-size: 1.2rem;
		font-weight: 700;
		margin-left: auto;
	}
}
