.data {
	background: rgba(#b0eacd, 0.2);
	padding: 1rem;
	border-left: 0.5rem solid var(--color-green-dark);
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

	&__list {
		list-style: none;
	}

	&__item {
		display: flex;
		align-items: center;

		padding: 0.5rem 0;
	}

	&__item-icon {
		width: 2rem;
		height: 2rem;
		fill: var(--color-green-dark);
		margin-right: 0.75rem;

		&--up,
		&--down {
			width: 1.5rem;
			height: 1.5rem;
			margin-left: auto;
		}

		&--up {
			fill: var(--color-red);
		}
	}

	&__item-title {
		color: var(--color-green-dark);
		font-size: 1.3rem;
		font-weight: 700;
		text-transform: uppercase;
		margin-right: 0.5rem;
	}

	&__item-value {
		font-size: 1.3rem;
	}
}
